nav {
     font-size: medium;
     top: 0;
 }
ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #515358;
    font-weight: bold;
}

li  {
    float: left;
}
li a    {
    display: block;
    color: dodgerblue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover:not(.active)  {
    background-color: #290e0a;
}
/* This CSS line is particularly important because it allows us to modify the state of the Navigation bar
based on the PHP code described below. */
.active {
    background-color: #07540a;
}
.even   {
    background-color: #84ee70;
}
.odd    {
    background-color: #b9ffe5;
}
.error   {
    color: red;
}